:root{
    --c1: #151515;
    --main: rgb(0, 255, 242);
    --secondary: #ff0080;
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
   
}



.grid{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 5vh 95vh;
    background-color: black;
}

.main{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 95vh 95vh 85vh 10vh;
}

.nav-grid{
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-color: black;
}


.tabs-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.header-grid{
    display: grid;
    grid-template-columns: 3fr 5fr;
    
}

.section-grid{
    display: grid;
    grid-template-rows: 10vh 85vh;
    font-family: 'Press Start 2P', cursive;
    
}   

.slideshow-grid{
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.section-title{
    line-height: 10vh;
    padding-left: 5vh;
    font-size: 3em;
    color: var(--secondary);
    animation-name: textFlicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-shadow: 0.06rem 0 0.06rem white, -0.125rem 0 0.06rem #75fa69;
}