.header-styles{
    background-color: var(--c2);
    color: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.493)), repeating-linear-gradient(to bottom,rgb(0, 0, 0), var(--c3) 2px,var(--c2) 2px);
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
}

.hero-styles{
    position: relative;
    text-align: center;
}
.hero-subtext-styles{
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, 50%);
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;


}

.hero-maintext-styles{
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, 20%);
    
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
   
    animation-name: textflicker;
    animation-duration: .09s;;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.textbox_sub-styles{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    
    font-size: 1em;
}

.hero-image{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;

    animation-name: imageBounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.hero-image_inner{
    width: 25em;
    height: 18em;
    background: url('./../../images/boxyV2Template.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;

    animation-name: blink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


img{
    width: 100%;
}

.image{
    width: 100%;
    border-radius: 50%;
}

.sidebar-styles{
    position: relative;
    text-decoration: none;
}

.sidebar-link-styles{
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, 50%);
    z-index: 5;

    width: 70%;
    font-weight: 700;
    font-size: 2em;
    padding: 10px 10px;
    letter-spacing: 10px;
    text-align: center;

    font-family: 'Press Start 2P', cursive;
    background-color: var(--c2);
    color: white;
    border-radius: 25px;

    transition-property: all;
    transition-duration: .25s;
}

.sidebar-link-styles:hover{
    background-color: var(--c3);
    color: white;
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}

.sideebar-link-styles:visited{
    color: rgb(66, 66, 66);
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 20%);
    }
    100%{
        opacity: 1;
    }
}

@keyframes imageBounce{
    0%{
        top: 25%;
        left: 50%;
        transform: translate(-50%);
    }
    50%{
        top: 25%;
        left: 50%;
        transform: translate(-50%);
    }
    75%{
        top: 20%;
        left: 50%;
        transform: translate(-50%);
    }
    85%{
        top: 26%;
        left: 50%;
        transform: translate(-50%);
    }
    95%{
        top: 24.5%;
        left: 50%;
        transform: translate(-50%);
    }
    100%{
        top: 25%;
        left: 50%;
        transform: translate(-50%);
    }
}

@keyframes bgEffect {
    0%{
        background-image: radial-gradient(rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.493)), repeating-linear-gradient(to bottom,rgb(0, 0, 0), var(--c3) 5px,var(--c2) 5px);
    }
    
    50%{
        background-image: radial-gradient(rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.493)), repeating-linear-gradient(to bottom,rgb(0, 0, 0), var(--c3) 1px,var(--c2) 1px);
    }
 
    100%{
        background-image: radial-gradient(rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.493)), repeating-linear-gradient(to bottom,rgb(0, 0, 0), var(--c3) 5px,var(--c2) 5px);
    }
}

@keyframes textflicker {
    0% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    5% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    10% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
      }
    15% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    20% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    25% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    30% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    35% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    40% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    45% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    50% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    55% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    60% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    65% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    70% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    75% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    80% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
      }
    85% {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
    90% {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
        }
    100% {
        text-shadow: 5px 0.5px 2px #ea36af, -5px -0.5px 2px #75fa69;
    }
  }

  @keyframes blink {
      0%{
        background: url('./../../images/boxyV2Template.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
      }
      95%{
        background: url('./../../images/boxyV2Template.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
      }
      100%{
        background: url('./../../images/boxyV3Template_1.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
      }
  }