.nav-styles {
    align-self: start;
    text-align: center;
    font-size: 1em;
    line-height: 5vh;
    letter-spacing: 5px;
    text-shadow: 0.06rem 0 0.06rem var(--secondary), -0.125rem 0 0.06rem var(--main);

    background-color: black;
}

a {
    line-height: 5vh;
    letter-spacing: 2px;
    text-align: center;
    color:white;
}

.tab-styles{
    font-family: 'Special Elite', cursive;
    line-height: 5vh;
    letter-spacing: 2px;
    text-align: center;
}
.tab-styles:-webkit-any-link{
    line-height: 5vh;
    letter-spacing: 2px;
    text-align: center;
    color:white;
}

.tab-styles:visited{
    color: white;
}
