.aboutMe{
    background-color: rgb(0, 0, 0);
    color: var(--main);
}


.slideshow{
    width: 100%;
    height: 90%;
}


.slideshow-button-left{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--c1);
    color: var(--main);
    border-radius: 500px;
    box-shadow: 0.06rem 0 0.06rem var(--secondary), -0.125rem 0 0.06rem var(--main);

    transition-property: all;
    transition-duration: .1s;
}

.slideshow-button-right{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--c1);
    color: var(--main);
    border-radius: 500px;
    box-shadow: 0.06rem 0 0.06rem var(--secondary), -0.125rem 0 0.06rem var(--main);

    transition-property: all;
    transition-duration: .1s;
}

.slideshow-button-left:hover{
    background-color: var(--c4);
    color: var(--main);
    box-shadow: 1rem 0 0.06rem #ea36ae6b, 2rem 0 0.06rem var(--main);
    transform: rotate3d(-1deg)
}
.slideshow-button-right:hover{
    background-color: var(--c4);
    color: var(--main);
    box-shadow: -1rem 0 0.06rem #ea36ae6b, -2rem 0 0.06rem var(--main);
    transform: rotate3d(-1deg)
}

.slide-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    /*grid-template-rows: 1fr 7fr; */
    padding: 20px;

}

.slide-info{
    background-color: var(--c1);
    position: relative;
    font-weight: 100;
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 4px white;
    overflow: scroll;

    animation-delay: 1.34s;
    animation-name: textFlicker;
    animation-duration: 1.55s;
    animation-timing-function: ease-in;
}

.slide-info-textbox{
    overflow-y: scroll;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 1.5em;
}

.slide-image{
    padding: 10px;
    height: 100%;
    width: 100%;
    border: 5px solid var(--main);
    color: var(--secondary);
    /* filter:drop-shadow(-1rem 0 0.06rem #ea36ae6b, -2rem 0 0.06rem var(--main));
    -webkit-filter: drop-shadow(-1rem 0 0.06rem #ea36ae6b, -2rem 0 0.06rem var(--main)); */
}

.slide-button{
    font-family: 'Special Elite', cursive;
    background-color: var(--secondary);
    color:var(--main);
    border-radius: 50px;
    font-size: 2em;
    padding: 2em;
}
.slide-button{
    font-family: 'Special Elite', cursive;
    background-color: black;
    color:var(--main);
    border: 10px solid var(--main);
    border-radius: 50px;
    font-size: 2em;
    padding: 1em;
    width: 100%;
}
.slide-button:hover{
    background-color: var(--secondary);
    color:var(--main);
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes flicker {
    0%{
        box-shadow: 0.06rem 0 0.06rem var(--secondary), -0.125rem 0 0.06rem var(--main);
        text-shadow: 0.06rem 0 0.06rem var(--secondary), -0.125rem 0 0.06rem var(--main);
    }
    20% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
        box-shadow: 0.125rem 0 0.06rem var(--main), -0.06rem 0 0.06rem var(--secondary);
      }
    25% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
        box-shadow: .12rem .5 0.18rem var(--secondary), -0.125rem .5 0.18rem var(--main);
    }
    30% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
        box-shadow: 0.125rem 0 0.06rem var(--main), -0.06rem 0 0.06rem var(--secondary);
        }
    40% {
        text-shadow: 5px 0.5px 2px var(--secondary), -5px -0.5px 2px var(--main);
        box-shadow: .6rem .5 0.18rem var(--secondary), -0.125rem .5 0.18rem var(--main);
    }
    60%{
        box-shadow: 0.06rem 0 0.06rem var(--secondary), -0.125rem 0 0.06rem var(--main);
        box-shadow: 0.125rem 0 0.06rem var(--main), -0.06rem 0 0.06rem var(--secondary);
    }
  }


@keyframes textFlicker {
    0% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    5% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    10% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
      }
    15% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    20% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    25% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    30% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    35% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    40% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    45% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    50% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    55% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    60% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    65% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    70% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
    }
    75% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    80% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
      }
    85% {
        text-shadow: 2px 0.5px 2px var(--secondary), -1px -0.5px 2px var(--main);
    }
    90% {
        text-shadow: 1px 0 0 var(--secondary), -2px 0 0 var(--main);
        }
    100% {
        text-shadow: 5px 0.5px 2px var(--secondary), -5px -0.5px 2px var(--main);
    }
  }

  @keyframes partialFlickere{
      0%{

      }
      90%{

      }
      100%{

      }
  }